<% unless current_user.admin == true %>
	<% if @application.aasm_state == "started" %>
	<h5>Your application has started</h5>
	<%= link_to 'Click here to edit', edit_application_path(@application) %>
	<% elsif @application.aasm_state == "applied" %>
	<%= render "applied" %>
	<% elsif @application.aasm_state == "accepted" %>
	<%= render "accepted" %>
	<% elsif @application.aasm_state == "rejected" %>
	<%= render "rejected" %>
	<% end %>
<% else %>
	<h3>Company Name: <b><%= @application.company_name %></b><br> <small>State: <%= @application.aasm_state %></small></h3>
	<hr>
	<div class="row">
    <div class="col-md-6">
	<h5><b>Company Description</b></h5>
	<p><%= @application.company_description %></p>
	<h5><b>Website URL</b></h5>
	<p><%= @application.website_url %></p>
	<h5><b>NIF</b></h5>
	<p><%= @application.nif %></p>
	<h5><b>Founding Team</b></h5>
	<p><%= @application.founding_team %></p>
	<h5><b>Team Description</b></h5>
	<p><%= @application.team_description %></p>
	<h5><b>Email</b></h5>
	<p><%= @application.email %></p>
	<h5><b>Founding Date</b></h5>
	<p><%= @application.founding_date %></p>
	
	</div>
	<div class="col-md-6">
	<h5><b>Funding Date</b></h5>
	<p><%= @application.funding_to_date %></p>
	<h5><b>Product Description</b></h5>
	<p><%= @application.product_description %></p>
	<h5><b>Customers</b></h5>
	<p><%= @application.customers %></p>
	<h5><b>Business Model</b></h5>
	<p><%= @application.business_model %></p>
	<h5><b>Future</b></h5>
	<p><%= @application.future %></p>
	<h5><b>Pitch URL</b></h5>
	<%= link_to @application.pitch_name, @application.pitch_url, :target => "_blank" %>
	
</div>
<% end %>