<!DOCTYPE html>
<html>
<head>
  <title>Road2Websummit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>
<% unless @landing %>
<div class="container">
	<%= render partial: "layouts/flash", flash: flash %> 
<% end %>
<%= yield %>
<% unless @landing %>
</div>
<% end %>
<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
</body>
</html>
